[Unit]
Description=Mihomo (Clash.Meta) Proxy Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={USER}
Group={USER}
Environment=HOME={HOME}
ExecStartPre=/bin/mkdir -p {HOME}/.cache/mihomo
ExecStartPre=-{BIN_DIR}/mihomo-auto-update
ExecStart={BIN_DIR}/mihomo-core -d {CONFIG_DIR}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
LimitNOFILE=65535

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mihomo

[Install]
WantedBy=multi-user.target
